{% extends "base.html.twig" %}

{% block contents %}

    <div>
        <p>{{ username_message }}</p>
        <p>{{ city_message }}</p>
    </div>

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.cityName) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit">Register!</button>
    {{ form_end(form) }}

    <p>
        <a href="{{ path('app_login') }}">go to log in</a>
    </p>
{% endblock %}